@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* FONT: Cubano */
  @font-face {
    font-family: "Cubano";
    src: url("./fonts/Cubano.woff2") format("woff2");
  }

  /* SCROLLBAR: Colors */
  :root {
    --primary: #4b5563;
    --secondary: #9ca3af;
  }

  /* SCROLLBAR: Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* SCROLLBAR: Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 0px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
}
